.navbar{
    background-image: url(../../img/background.jpg);
    height: 4em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    position: sticky;
    // background-color: black !important;
    & *{
        color: #fff !important;
    }

    .navbar-brand{
        font-family: 'Train One', cursive;
        font-size: 2em;
    }

    .nav-link{
        font-size: 1.2em;
        font-family: 'Comfortaa', cursive;
    }
}